//个人信息模板
div.mod.mod-person-profile
	div.header
		div.container
			div.photo
				img(src=person.photo,class='person-profile')
	div.content
		div.container
			div.name= person.name
			div.title= person.title
		